@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {}

@layer base {
  body {
    color: #000;
    background: #fff;
  }

  .inner {
    @apply px-[20px];
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* button 클래스 */
@layer utilities {
  .full-btn {
    @apply border-none outline-none w-full h-14 px-5 py-3 rounded-xl bg-primary text-white flex items-center justify-center text-base font-semibold leading-[140%];
  }

  .full-white-btn {
    @apply border outline-none w-full h-14 px-5 py-3 rounded-xl border-primary bg-white text-primary flex items-center justify-center text-base font-semibold leading-[140%];
  }

  .modal-full-btn {
    @apply border-none outline-none w-full h-12 px-5 py-3 rounded-xl bg-primary text-white flex items-center justify-center text-base font-semibold leading-[150%];
  }

  .modal-white-btn {
    @apply border outline-none w-full h-12 rounded-xl border-primary bg-white text-primary flex items-center justify-center text-base font-semibold leading-[150%];
  }

  .floating-btn {
    @apply w-[124px] h-11 flex items-center justify-center gap-1 rounded-[20px] text-sm bg-primary font-semibold leading-[140%] text-white shadow-[0px_4px_4px_0px_#00000033] fixed bottom-[8.75rem] right-5;
  }

  .no-floating-btn {
    @apply w-36 h-11 flex items-center justify-center gap-1 rounded-[20px] text-sm bg-primary font-semibold leading-[140%] text-white;
  }

  .disabled-btn {
    @apply border-none outline-none bg-gray-300 text-white leading-[140%] cursor-not-allowed;
  }

  .kakao-btn {
    @apply border-none outline-none bg-[#FBE850] w-full h-14 px-5 py-3 rounded-xl flex items-center justify-center gap-3 text-gray-900 text-base font-semibold leading-[140%];
  }

  .google-btn {
    @apply border outline-none border-gray-400 w-full h-14 px-5 py-3 rounded-xl flex items-center justify-center gap-3 text-gray-900 text-base font-semibold leading-[140%];
  }
}