@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    color: #000;
    background: #fff;
  }

  .inner {
    @apply px-[20px];
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}